

<div *ngIf="isLoading">
    <h4>Loading..</h4>
</div>

<div class="container" *ngIf="! isLoading">
    <div class="row">
        <div class="col-sm-12">
            <img [src]="recipe.imageUrl" alt="image" srcset="" style="max-height: 250px;">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>{{recipe.name}}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
             <select name="action" id="action" (click)="onOptionSelected() " #selectedOption>
                 <option [value]="i" *ngFor="let opt of options ; let i=index" >{{opt}}</option>
             </select>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>{{recipe.description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" *ngFor="let ingredient of recipe.ingredients" >
                    {{ingredient.name}} - {{ingredient.amount}}
                </li>
            </ul>
        </div>
    </div>
</div>